h1{
    color:#8b5a2b;
    text-decoration: wavy underline;
}

body{
    background-color:#3cb043;
}

#Techno{
    color:yellow;
}

a{
    color:greenyellow;
}

#buy{
    color:brown;
}